/* =============================================================================
   My CSS
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}
canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
